<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>國家運動科學中心_三溫暖使用建議</title>
    <link rel="icon" href="~/pic/favicon.svg" />
    <link href="~/css/BackGroundStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/SweetAlert2/sweetalert.min.js"></script>
    <script src="~/SweetAlert2/sweetalert2@11.js"></script>
</head>
<body>
    <!-- Logo -->
    <div style="position: absolute; top: 10px; left: 10px; z-index: 1000;">
        <img src="~/pic/TISS標題.png" alt="Logo" style="width: 160px; height: auto;" />
    </div>

    <!-- 主體內容區塊 -->
    <div class="outer-container">
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>

    <!-- 背景裝飾圖 -->
    <div class="wave-footer">
        <img src="@Url.Content("~/pic/bathBG.png")" class="img-fluid" alt="背景圖" />
    </div>

    @RenderSection("Scripts", required: false)
    <div class="footer-bar" title="Copyright © 2025 國家運動科學中心 All Rights Reserved.">
        Copyright © 2025 國家運動科學中心 All Rights Reserved.
    </div>
</body>
</html>